<section>
  <%= form_for @order, url: order_path, method: :patch do |f| %>
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name %>
    <%= f.label :customer_email %>
    <%= f.text_field :customer_email %>
    <%= f.label :credit_card %>
    <%= f.text_field :credit_card %>
    <%= f.label :cvv, "CVV" %>
    <%= f.text_field :cvv %>
    <%= f.label :cc_expiration, "Credit Card Expiration"  %>
    <%= f.text_field :cc_expiration%>
    <%= f.label :shipping_address %>
    <%= f.text_field :shipping_address %>
    <%= f.label :billing_address %>
    <%= f.text_field :billing_address %>
    <%= f.submit "Submit Order", class: "checkout button" %>
  <% end %>
</section>
