<% if @merchant %>

  <%= link_to 'Manage My Products', merchant_manage_products_path(@merchant), class: 'button' %>

  <p>
  <h3>Orders Overview</h3>
  <section>
    <table>
      <tr>
        <th>
        </th>
        <th>
          Pending Orders
        </th>
        <th>
          Paid Orders
        </th>
        <th>
          Completed Orders
        </th>
        <th>
          Cancelled Orders
        </th>
        <th>
          All Orders
        </th>
      </tr>
      <tr>
        <th>
          Revenue
        </th>
        <td>
          --
        </td>
        <td>
          <%= @merchant.total_revenue_by("paid") %>
        </td>
        <td>
          <%= @merchant.total_revenue_by("completed") %>
        </td>
        <td>
          --
        </td>
        <td>
          <%= @merchant.total_revenue_by("all") %>
        </td>
      </tr>
      <tr>
        <th>
          No. Orders
        </th>
        <td>
          <%= @merchant.count_orders_by("pending")  %>
        </td>
        <td>
          <%= @merchant.count_orders_by("paid") %>
        </td>
        <td>
          <%= @merchant.count_orders_by("completed") %>
        </td>
        <td>
          <%= @merchant.count_orders_by("cancelled") %>
        </td>
        <td>
          <%= @merchant.count_orders_by("all") %>
        </td>
      </tr>
    </table>
  </section>

  <h3>
    <%= @merchant.username %>'s orders
  </h3>

  <section>
    <%= form_tag orders_path, method: :get do %>
      <%= select_tag :search, options_for_select(['all', 'paid', 'pending', 'completed', 'cancelled'], params[:search]) %>
      <%= submit_tag "Search" %>
    <% end %>
    <% if params[:search] %>
      <h4><%= params[:search].capitalize %> orders:</h4>
    <% else %>
      <h4>All orders:</h4>
    <% end %>
  </section>

  <section>
    <% if @orders_and_items.empty? %>
    <p>
      <%= @merchant.username %> has no <%= params[:search] %> orders yet.
    </p>
    <% else %>

    <table>
      <tr>
        <th>
          Order
        </th>
        <th>
          Order Status
        </th>
        <th>
          Product
        </th>
        <th>
          Quantity
        </th>
        <th>
          Subtotal
        </th>
        <th>
          Placed On
        </th>
        <th>
          Mark as Shipped
        </th>
        <th>
          Cancel
        </th>
      </tr>

      <% @orders_and_items.each do |order, order_items| %>
      <tr>
        <td rowspan="<%= order_items.length %>" >
          <%= link_to order, order_path(order) %>
        </td>
        <td rowspan="<%= order_items.length %>" >
          <%= Order.find(order).order_status.capitalize %>
        </td>

        <% order_items.each do |order_item| %>
        <td>
          <%= link_to order_item.product.name, product_path(order_item.product) %>
        </td>
        <td>
          <%= order_item.quantity %>
        </td>
        <td>
          <%= number_to_currency(order_item.subtotal) %>
        </td>
        <td>
          <%= readable_date(order_item.order.updated_at) %>
        </td>
        <td>
          <% if order_item.status == "pending" %>
            <%= link_to_if Order.find(order).status != "pending", "Ship", ship_path(order_item), method: :patch %>
          <% elsif order_item.status == "shipped" %>
            Shipped
          <% end %>
        </td>
        <td>
          <% if order_item.status == "pending" %>
            <%= link_to_if Order.find(order).status != "pending", "Cancel", cancel_path(order_item), method: :patch %>
          <% elsif order_item.status == "cancelled" %>
            Cancelled
          <% end %>
        </td>
      </tr>
      <% end %>

      <% end %>

    </table>

    <% end %>

  </section>
<% end %>
