<% if @merchant %>
  <p>
    <%= @merchant.username %>'s orders
  </p>
  <% if @orders.empty? %>
    <p>
      <%= @merchant.username %> has no orders yet.
    </p>
  <% else %>
    <% raise %>
    <% @orders.each do |order| %>
      <%= order.id %>
      <%= order.customer_name %>
      <% order.order_items.each do |order_item| %>
        <%= order_item.id %>
        <%= order_item.product.name %>
        <%= order_item.quantity %>
        <%= order_item.created_at %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
