<section>
  <img src=www.lorempixel.com alt="placeholder image">
  <div>
    <h4><%= @product.name %></h4>
    <p><%= @product.details %></p>
    <p>Quantity Available: <%= @product.stock %></p>
    <ul>
      <li><%= link_to "Add to cart", 
    <button type="button">See More from <%= @product.merchant %>

  </div>
</section>
