<!DOCTYPE html>
<html lang="en">
  <head
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SuperMarket" %></title>

    <%= stylesheet_link_tag    "application" %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css"> -->
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="sticky">
        <nav class="top-bar" data-topbar role="navigation">
          <div class="left">
            <%= link_to 'Home', root_path, class: 'navbar-item button hollow' %>
            <%= link_to 'All Products', products_path, class: 'navbar-item button hollow' %>
            <%= link_to 'All Merchants', merchants_path, class: 'navbar-item button hollow' %>
            <% if session[:merchant_id] %>
            <%= link_to 'Dashboard', orders_path, class: 'navbar-item button hollow' %>
            <% end %>
          </div>
          <div class="right">
            <%= form_tag search_path, class: 'form-inline', method: :get do %>
            <%= text_field_tag :search, params[:search], class: 'search-bar', placeholder: 'Search...'%>
            <%= submit_tag :search, class: 'search-bar-button button hollow '%>
            <% end %>
            <div class="login">
              <% if @logged_merchant %>
              Logged in as <%= @logged_merchant.username %>
              <%= link_to "Log Out", logout_path, method: :delete, class: 'button hollow' %>
              <% else %>
              <%= link_to "Log in with Google", '/auth/google_oauth2', class: 'button hollow' %>
              <% end %>
            </div>
            <div class="cart">
              <% if session[:cart_id] %>
              <%= link_to 'Cart', viewcart_path(session[:cart_id]), class: 'button hollow' %>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    </header>



    <main>

      <section class='flash'>
        <%= flash[:error] if flash.any? %>
        <%= flash[:success] if flash.any? %>
        <%= flash[:failure] if flash.any? %>
      </section>

      <%= yield %>
    </main>

    <footer>
      Footer
    </footer>
  </body>
</html>
